stages:
  - infra
  - api
  - auth
  - frontend
 
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: always
    - when: never

variables:
  PIPELINE_TARGET: "auth"
 
deploy_infra:
  stage: infra
  trigger:
    include:
      - local: terraform/.gitlab-ci.yml
  rules:
    - if: '$PIPELINE_TARGET == "infra"'
    - when: never
 
deploy_api:
  stage: api
  trigger:
    include:
      - local: services/api/.gitlab-ci.yml
  rules:
    - if: '$PIPELINE_TARGET == "api"'
    - when: never
 
deploy_auth:
  stage: auth
  trigger:
    include:
      - local: services/auth/.gitlab-ci.yml
  rules:
    - if: '$PIPELINE_TARGET == "auth"'
    - when: never
 
deploy_frontend:
  stage: frontend
  trigger:
    include:
      - local: services/frontend/.gitlab-ci.yml
  rules:
    - if: '$PIPELINE_TARGET == "frontend"'
    - when: never